body {
  display: flex;
  justify-content: center;
}
#root {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  width: 80%;
}
.page {
  margin-top: var(--navbar-height);
  width: 100%;
}

