.wrapper {
    list-style: none;
    box-sizing: border-box;
    width: 100%;
    min-height: 80vh;
    margin-top: 20px;
    padding: 20px 40px;
    background-image: url("../../../public/img/paperBg.webp");
    background-size: contain;
    border-radius: 5px;
}

.subcategory label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    color: var(--text-dark);
    cursor: pointer;
    transition: background ease-in-out .3s;
    padding: 15px;
}

.subcategory label:hover {
    background-color: var(--main-color);
}

.subcategory input {
    display: none;
}

.collapse{
    list-style: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height .3s;
}

input:checked ~ .collapse {
    max-height: inherit;
}
