.content {
    width: 100%;
    min-height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startScreen {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.startImage {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

.startImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.title {
    font-size: 10vw;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    color: azure;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.shef {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    min-height: 700px;
}

.imgShef {
    width: 30%;
    height: 30vw;
    background-size: cover;
    border-radius: 2%;
}
.resume {
    width: 60%;
    min-height: 50vh;
}






