.button {
    position: relative;
    margin: 20px;
    padding: 10px;
    color: var(--text-light);
    text-transform: uppercase;
    letter-spacing: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: color .3s, background-color .3s, border-color .3s;
}

.primary {
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
}

.primary:hover {
    background-color: var(--main-color-hover);
    border: 3px solid var(--main-color-hover);
    color: var(--text-dark);
}


.secondary {
    background-color: inherit;
    border: 3px solid var(--main-color-hover);
}

.secondary:hover {
    background-color: var(--main-color-hover);
    color: var(--text-dark);
}

.delete {
    background-color: var(--delete-color);
    border: 3px solid var(--delete-color);
}

.delete:hover {
    background-color: var(--delete-color-hover);
    border: 3px solid var(--delete-color-hover);
    color: var(--text-dark);
}
