.navbar {
    width: 80%;
    height: var(--navbar-height);
    background-color: var(--main-color);
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    z-index: 10;
}

.logo {
    line-height: 50px;
    letter-spacing: 2px;
    padding-left: 15px;
    text-decoration: none;
}

.logo a {
    color: var(--text-light);
    text-decoration: none;
    font-size: 1.3rem;
}

.hello {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-light);
    font-size: 1.3rem;
}


.links {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.links a {
    color: var(--text-light);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px;
    transition: color .3s, background-color .3s ;
}

.links a:hover {
    background-color: var(--main-color-hover);
    color: var(--text-dark);
    text-decoration: none;
    font-size: 1.3rem;
    padding: 10px;
}

.links :global .active {
    background-color: var(--main-color-hover);
    color: var(--text-dark);
}
